@media (max-width: 768px) {
  main {
    background: url("../../resources/background_index_mobile.jpeg");
    background-position: top;
    background-repeat: no-repeat;
    background-size: 100vw 100vh;
  }

  .btn-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: space-around;
    height: 25%;
  }
}
